@model ForexApp.Models.LocalPasswordModel

<p>
    No dispone de contraseña para este sitio. Agregue una contraseña
    para iniciar sesión.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Formulario para establecer contraseña</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Establecer contraseña" class="medium button success"/>
    </fieldset>
